{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container">
        <form action="">
            <div class="form-group">
                <label for="" class="form-label">Nova Ação</label>
                <textarea class="form-control" name="" id="" rows="3"></textarea>
                <div class="d-flex justify-content-end align-items-end">
                    <button class="btn btn-outline-primary m-3">Adicionar Ação</button>
                </div>
            </div>
        </form>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Ação</th>
                <th scope="col">Responsável</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    {{ '2023-08-15 23:39:12' | date('d/m/Y') }}
                </td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque, dignissimos doloribus </td>
                <td>Rafael S.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    {{ '2023-08-20 23:39:12'|date('d/m/Y') }}
                </td>
                <td>Testes incluidos</td>
                <td>André V.</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <input type="button" value="Salvar" class="col btn btn-outline-primary me-3">
            <input type="button" value="Adicionar arquivo" class="col btn btn-outline-secondary me-3">
            <input type="button" value="Concluir" class="col btn btn-outline-success">
        </div>

    </div>

{% endblock %}

