{% extends 'base.html.twig' %}

{% block title %} Entrar {% endblock %}

{% block body %}
    <div id="login-container">
        <h1>Login</h1>
        <form action="">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" autocomplete="off">
            <label for="password">Senha</label>
            <input  type="password" name="password" id="password" placeholder="Digite a sua senha">
            <a href="https://www.google.com.br/" id="forgot-pass">Esqueceu a senha?</a>
            <input type="submit" value="Login">
            <a href="#"></a>
        </form>
        <div id="register-container">
            <p>Ainda não tem uma conta?</p>
            <a href="{{ path('register') }}">Registrar</a>
        </div>
    </div>
{% endblock %}